@font-face {
	font-family: Gaspar-Bold;
	src: url(./fonts/gaspar/Gaspar_Bold.otf);
}
@font-face {
	font-family: Gaspar;
	src: url(./fonts/gaspar/Gaspar_Regular.otf);
}
@font-face {
	font-family: Miama;
	src: url(./fonts/Miama/Miama.otf);
}

* {
	margin: 0;
}

html, body {
	padding: 0;
	height: 100%;
	font-family: Gaspar;
}

html {
  background-color: rgba(247,245,231,1);
  background: radial-gradient(circle, #FFF, rgba(247,245,231,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
	opacity: 1;
	-webkit-transition: opacity 1.2s ease-in;
	-moz-transition: opacity 1.2s ease-in;
	-ms-transition: opacity 1.2s ease-in;
	-o-transition: opacity 1.2s ease-in;
	transition: opacity 1.2s ease-in;
}
.hide {
	opacity: 0;
}
a { 
	text-decoration: none;
	margin:0;
	padding:0;
}
hr {
	margin: 15px 75px 25px 75px;
	border: 0;
	border-bottom-width: .1em;
	border-bottom-style: solid;
	border-color: rgb(183,206,217);
	border-color: rgba(183,206,217,.65);
}
/*Ad hoc styles*/
.center {
	text-align:center;
}
.pad {
	padding: 10px;
}
.marg {
	margin: 10px;
}
.black {
	color: black !important;
}
.white {
	color: white !important;
}
.muted {
	color: gray;
}
.smaller {
	font-size: .7em;
}
.larger {
	font-size: 1.5em;
}
.big-as-fuck {
	font-size: 5em;
}
.gasp-b {
	font-family: Gaspar-Bold;
}	
.miama {
	font-family: Miama;
}
.std-shadow {
 	text-shadow: 2px 0px 2px #888;
}
.less-shadow {
	text-shadow: 1px 0px 1px #888;
}

.headline-home {
	margin-top: 5px;
	min-height: 500px;
	background-image: url(./img/green-logo.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: top center;
}
header {
  width: 100%;
  /*height: 280px;*/
  background-color: transparent;
  display:inline-block;
  border-bottom-width: .5em;
  border-bottom-color: white;
}

	header .nav-items-wrap {
		background: transparent;
		line-height: 1em;
		width: 285px;
		margin: 0 auto;
		padding: 4px 0px;
	}
	header .nav-items {
		background: transparent;
		margin-top: 20px;
		padding: 5px 0;
		border-top: solid white 1px;
		border-bottom: solid white 1px;
		border-radius: 5px;
	}
		header .nav-items a {
			display:inline-block;
		}

		header .nav-items a .nav-item {
			opacity:0.6;		
			display: table-cell;
			vertical-align: middle;
			border-radius: 50em;
			text-align: center;
			width: 65px;
			height: 65px;
			color: black;
			text-shadow: 2px 0px 2px rgba(245, 245, 245, 0.82);
		}
		.active {
			background-color: rgb(180,46,97) !important;
			background-color: rgba(180,46,97,.9) !important;
			color: white !important;
			text-shadow: 2px 0 2px rgba(0, 0, 0, 0.82) !important;

			-webkit-transition: opacity .5s ease-in;
			-moz-transition: opacity .5s ease-in;
			-ms-transition: opacity .5s ease-in;
			-o-transition: opacity .5s ease-in;
			transition: opacity .5s ease-in;
		}
			/*purple*/
			header .nav-items .nav-item:hover {
		
			 	background-color: rgb(183,206,217);
		 		background-color: rgba(183,206,217,.65);

			}



.main {
/*  background-color: #180E0D;
  background: radial-gradient(circle, #1A1110, #180E0D);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: transparent;
}

.row {
	width: 100%;
	height: auto;
	margin: 20px 0 40px 0;
}
.row .content-container-wide {
	width: 98%;
	margin: 0 auto;
	padding: 0;
}
.row .content-container {
	width: 75%;
	margin: 0 auto;
	padding: 0;
}

/*About styles*/
.band-about {
	text-align:center;
}
/*FOR LATER*/
/*.band-about .band-about-items {
	text-align:left;
	margin-left: 30px;
	display:inline-block;
}
.band-about .band-about-items .band-about-item {
	display: inline-block;
}
.band-about .band-about-items .number {
	text-align: left;
	width: 100px;
}*/
.content-container .band-img-wrap img {
	display: block;
	margin: 0 auto;
	border-radius: 50em;
	border: solid black 1px;
}
.content-container .band-desc {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}
.band-desc-name {
	font-size: 1.3em;
	font-family: Gaspar-Bold;
	padding-bottom: 2px;
	text-shadow: 2px 0px 2px rgba(245, 245, 245, 0.82);

}
.band-desc-inst {
	color: gray;
}

/*For shows*/
.show-items .show-item {
	display: inline-block;
	padding-left: 10px;
}

/*For da footer*/
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.push {
	height: 100px;
}
footer {
	height: 100px; /* '.push' must be the same height as 'footer' */
}
footer {
	position: relative;
	/*display: table-cell;*/
	vertical-align: middle;
	color:white;
	margin: 0 auto;
	padding-top: 20px;
	border-top-width: 5px;
	border-top-color: black;
	background-color: rgb(180,46,97);
	background: radial-gradient(circle, rgb(247,245,231), rgb(180,46,97));
	background-repeat: no-repeat;
	background-attachment: fixed;
}
	footer .footer-item {
		display:inline-block;
		float:right;
		background: transparent;
		width: 60px;
		height: 45px;
		margin: 0 10px;
	}
		footer .footer-item p {
			width: 100%;
			word-wrap: break-word;
			color: white;
		}
	#footer-github {
		background-image: url(./icons/github-black.png);
		background-repeat: no-repeat;
		color: black;
	}
	#footer-github:hover {
		background-image: url(./icons/github-white.png);
		background-repeat: no-repeat;
	}
	#footer-fb {
		background-image: url(./icons/fb-f-blue.png);
		background-repeat: no-repeat;
	}
	#footer-fb:hover {
		background-image: url(./icons/fb-f-white.png);
		background-repeat: no-repeat;
	}
	#footer-boojay {
		width: 95px;
	}
	#footer-boojay p {
		line-height: 1.35em;
	}

.spacer {
	width:32px;
	height:40px;
	background: transparent !important;
}

/* Magenta/pink */
/*rgba(180,46,97,1)*/
/*199,91,78  darker salmon? */
/*248,143,130  lighter salmon */
/* 124 104 178  purple */
